PORT =3000
MONGO_PASS=MONGOPASS
MONGO_USER=MONGOUSER
MONGO_URI=mongoURI
ACCESS_TOKEN_SECRET=TOKEN_SECRET
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET 
REFRESH_TOKEN_EXPIRY=604800000
NODE_ENV="development"


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

MAIL_USER=test@gmail.com
MAIL_PASS=MAIL_PASS
MAIL_FROM=Banking System <test@gmail.com>


 MAX_DEPOSIT_AMOUNT    = 1000000
 MAX_WITHDRAWAL_AMOUNT = 500000
 MAX_TRANSFER_AMOUNT   = 200000 
 MIN_AMOUNT            = 1
 DAILY_TRANSFER_LIMIT   =500000

 MAX_BENEFICIARIES=10
 OTP_TTL_MINUTES   =10

LOCK_TTL_MS       =30000;  
CACHE_TTL_SECONDS = 3600;   

REDIS_HOST= localhost
REDIS_PORT= 6380
REDIS_PASSWORD=